{% extends 'layout.html' %}

{% block title %}
Index page
{% endblock %}

{% block content %}
<div>
    <h1>Заявки:</h1>
</div>

<table class="table table-sm">
    <thead>
    <tr>
        <th>Дата</th>
        <th>Организация</th>
        <th>Номер</th>
        <th>Заголовок</th>
        <th>Описание</th>
        <th>Ссылка</th>

    </tr>
    </thead>
    <tbody class="table-group-divider">
    {% for ticket in tickets %}
    <tr>
        <th class="text-nowrap">{{ ticket.created_at }}</th>
        <th class="text-nowrap">{{ ticket.organization.name }}</th>
        <th class="text-nowrap">{{ ticket.user_number }}</th>
        <th>{{ ticket.name }}</th>
        <th>{{ ticket.content }}</th>
        <th><a href="{{ ticket.glpi_url }}">Ссылка</a></th>
    </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}

