{% extends 'layout.html' %}

{% block title %}
New ticket
{% endblock %}

{% block content %}
<div>
    <h1>Новая заявка</h1>

    <form action="/create_ticket" method="post">
        <p>Организация: </p>
        <select name="org" class="form-select">
            {% for org in organizations %}
            <option value="{{ org.name }}">{{ org.name }}</option>
            {% endfor %}
        </select>

        <p>Внутренний номер пользователя: </p>
        <input name="user_number" type="text" value="0" placeholder="Внутренний номер пользователя"
               class="form-control">

        <p>Заголовок: </p>
        <input name="name" placeholder="Заголовок" class="form-control">

        <p>Описание:</p>
        <textarea name="content" placeholder="Описание" class="form-control" rows="3">+</textarea>
        <p>
            <input name="from_telegram" type="checkbox"> Из Телеграм
        </p>
        <button class="btn btn-success" type="submit">Сохранить</button>
    </form>
</div>

{% endblock %}
